.chatList{
    flex: 1;
    overflow:auto;
    
    .search{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;

        .searchBar{
            flex: 1;
            background-color: rgba(17, 16, 24, 0.413);
            align-items:center;
            display:flex;
            gap: 10px;
            border-radius: 10px;
            padding: 8px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }
            
            img{
                width: 15px;
                height: 15px;
            }
        }

        .add{
            width: 30px;
            height: 30px;
            background-color: rgba(17, 16, 24, 0.413);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                font-weight: 500;
            }

            p{
                font-size: 12px;
                font-weight: 200;
            }
        }
    }
}