* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/bg.jpg");
  background-size: 250vh 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(255, 255, 255);
}

.container{
  width: 90vw;
  height: 95vh;
  background-color:rgba(2, 2, 23, 0.374);
  backdrop-filter: blur(2px) saturate(  80%);
  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.589);
  display: flex;
}